body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    background: #FFF;
    color: #222;
}

a {
    color: #E55A18;
}

a:hover,
a:focus {
    color: #ab3c07;
}

.btn {
    text-decoration: none;
    color: #FFF;
    display: inline-block;
    padding: 1rem 2rem;
    line-height: 1;
    font-size: 1.2rem;
    background: #E55A18;
    border-radius: 100px;
    transition: all 0.25s ease;
}

.btn:hover,
.btn:focus {
    background: #ab3c07;
    color: #FFF;
}

.btn.btn-dark {
    color: #FFF;
    background: #222;
}

.btn.btn-dark:hover,
.btn.btn-dark:focus {
    background: #424242;
    color: #FFF;
}

.panel-slant {
    position: relative;
    z-index: 1;
}

.panel-slant.top-left:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
    top: 0;
    transform: skewY(2.5deg);
    transform-origin: 100% 0;
}

.panel-slant.top-right:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
    top: 0;
    transform: skewY(-2.5deg);
    transform-origin: 0 100%;
}

.panel-slant.bottom-left:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
    bottom: 0;
    transform: skewY(-2.5deg);
    transform-origin: 100% 0;
}

.panel-slant.bottom-right:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
    bottom: 0;
    transform: skewY(2.5deg);
    transform-origin: 0 100%;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
    font-family: 'Gruppo', sans-serif;
    color: #e55a18;
    margin-bottom: 2rem;
    font-weight: 700;
    line-height: 1;
}

h1, .h1 {
    font-size: 3rem;
}

h2, .h2 {
    font-size: 2.5rem;
}

h3, .h3 {
    font-size: 2rem;
}

.core__header {
    padding: 2rem 0;
    background-repeat: no-repeat;
    background-position: 2rem 2rem;
    background-size: 300px auto;
    background: #222222;
    background: -moz-linear-gradient(-45deg,  #111111 0%, #505050 100%);
    background: -webkit-linear-gradient(-45deg,  #111111 0%,#505050 100%);
    background: linear-gradient(135deg,  #111111 0%,#505050 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#444444',GradientType=1 );
}

.core__header h1 {
    text-transform: uppercase;
}

.core__header h1 span {
    line-height: 0.85;
    display: inline-block;
    margin-bottom: 0.25rem;
    text-align: left;
}

.core__header h1 small {
    font-weight: 600;
}

.core__header h1 small.pt-premium {
    display: block;
    color: #e4e4e4;
    font-weight: 300;
}

.core__header p {
    color: #FFF;
    font-size: 2rem;
    font-weight: 600;
}

.core__header ul {
    color: #FFF;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.core__header ul li + li:before {
    display: inline-block;
    padding: 0 0.5rem;
    color: #CCC;
    content: "|";
}

.comp__block {
    padding: 3rem 0;
    background: #FFF;
}

.comp__testimonial-block {
    position: relative;
}

.comp__testimonial-block:before {
    content: "";
    display: inline-block;
    background-image: url('../img/quote-mark-left.svg');
    background-size: 150px;
    width: 150px;
    height: 150px;
    position: absolute;
    left: -1rem;
    top: -2rem;
}

.comp__testimonial-block.comp__testimonial-block--sm:before {
    background-size: 80px;
    width: 80px;
    height: 80px;
}

.comp__testimonial-block span {
    position: relative;
    z-index: 1;
    color: #000;
}

.comp__testimonial-block strong {
    display: block;
    text-align: right;
    margin-top: 0.5rem;
    color: #e55a18;
}

.grey-bg {
    background-color: #EEE;
}

.orange-bg {
    background: #e55a18;
    color: #FFF;
}

.dark-bg {
    background: #222;
    color: #FFF;
}

.white-text {
    color: #FFF !important;
}

.core__footer {
    background: #222222;
    background: -moz-linear-gradient(-45deg,  #111111 0%, #505050 100%);
    background: -webkit-linear-gradient(-45deg,  #111111 0%,#505050 100%);
    background: linear-gradient(135deg,  #111111 0%,#505050 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#444444',GradientType=1 );
    color: #FFF;
    padding: 1rem 0;
}

.comp__steps-list {
    list-style: none;
}

.comp__steps-list li {
    counter-increment: step-counter;
    display: flex;
    align-items: center;
    line-height: 1.4;
}

.comp__steps-list li:before {
    content: counter(step-counter);
    font-size: 2rem;
    vertical-align: middle;
    margin-right: 0.75rem;
    color: #e55a18;
}

@media(max-width: 579px) {
    .container {
        padding: 0 2rem;
    }
}

@media(min-width: 992px) {
    .core__header {
        padding: 6rem 0;
    }

    .core__header h1 {
        font-size: 3.5rem;
    }

    .core__header ul {
        font-size: 1.5rem;
    }

    .core__header ul li + li:before {
        padding: 0 1rem;
    }

    .comp__block {
        padding: 5rem 0;
    }

    .pb-slant {
        padding-bottom: 7rem;
    }

    .comp__testimonial-block:before {
        left: -5rem;
        top: -3rem;
    }

    .comp__testimonial-block.comp__testimonial-block--sm:before {
        left: -1rem;
        top: -2rem;
    }

    .comp__testimonial-block.comp__testimonial-block--sm {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.container--sm {
    max-width: 800px;
}